<section class="dialog-container p-[16px]">
    <div class="dialog-header flex flex-row items-center justify-between mb-[16px]">
        <div class="title text-xl font-semibold">
            <h2>Reset Password</h2>
        </div>

        <div>
            <button
                type="button"
                mat-icon-button
                class="add-button !h-14 !w-14 shrink-0 border-[1px]"
                matTooltip="Close"
                (click)="closeDialog()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="dialog-content">
        <form [formGroup]="form" (ngSubmit)="resetPassword()">
            <div class="flex flex-col gap-[12px] sm:flex-row mb-[16px]">
                <!-- New Password -->
                <mat-form-field
                    appearance="outline"
                    class="w-full"
                >
                    <mat-label>New Password</mat-label>

                    <mat-icon matPrefix>
                        lock
                    </mat-icon>

                    <input
                        matInput
                        [type]="isNewPasswordVisible ? 'text' : 'password'"
                        formControlName="newPassword"
                        placeholder="Enter new password"
                        autocomplete="new-password"
                        required
                    >

                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        [attr.aria-label]="
                            isNewPasswordVisible
                                ? 'Hide password'
                                : 'Show password'
                        "
                        (click)="checkNewPasswordVisible()"
                    >
                        <mat-icon>
                            {{
                                isNewPasswordVisible
                                    ? 'visibility_off'
                                    : 'visibility'
                            }}
                        </mat-icon>
                    </button>

                    <!-- Required -->
                    @if (
                        form.get('newPassword')?.hasError('required') &&
                        form.get('newPassword')?.touched
                    ) {
                        <mat-error>
                            New password is required
                        </mat-error>
                    }

                    <!-- Minimum length -->
                    @if (
                        form.get('newPassword')?.hasError('minlength') &&
                        form.get('newPassword')?.touched
                    ) {
                        <mat-error>
                            Password must be at least 6 characters
                        </mat-error>
                    }

                    <!-- Starts with space -->
                    @if (
                        form.get('newPassword')?.hasError('pattern') &&
                        form.get('newPassword')?.touched
                    ) {
                        <mat-error>
                            Password cannot start with a space
                        </mat-error>
                    }
                </mat-form-field>


                <!-- Confirm Password -->
                <mat-form-field
                    appearance="outline"
                    class="w-full"
                >
                    <mat-label>Confirm Password</mat-label>

                    <mat-icon matPrefix>
                        lock_reset
                    </mat-icon>

                    <input
                        matInput
                        [type]="
                            isConfirmPasswordVisible
                                ? 'text'
                                : 'password'
                        "
                        formControlName="confirmPassword"
                        placeholder="Confirm new password"
                        autocomplete="new-password"
                        required
                    >

                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        [attr.aria-label]="
                            isConfirmPasswordVisible
                                ? 'Hide password'
                                : 'Show password'
                        "
                        (click)="checkConfirmPasswordVisible()"
                    >
                        <mat-icon>
                            {{
                                isConfirmPasswordVisible
                                    ? 'visibility_off'
                                    : 'visibility'
                            }}
                        </mat-icon>
                    </button>

                    <!-- Required -->
                    @if (
                        form.get('confirmPassword')?.hasError('required') &&
                        form.get('confirmPassword')?.touched
                    ) {
                        <mat-error>
                            Confirm password is required
                        </mat-error>
                    }

                    <!-- Starts with space -->
                    @if (
                        form.get('confirmPassword')?.hasError('pattern') &&
                        form.get('confirmPassword')?.touched
                    ) {
                        <mat-error>
                            Password cannot start with a space
                        </mat-error>
                    }

                    <!-- Password mismatch -->
                    @if (
                        form.hasError('passwordMismatch') &&
                        form.get('confirmPassword')?.touched
                    ) {
                        <mat-error>
                            Passwords do not match
                        </mat-error>
                    }

                </mat-form-field>
            </div>

            <div class="dialog-actions flex flex-row justify-end gap-[12px]">
                <button
                    mat-stroked-button
                    type="button"
                    (click)="closeDialog()"
                    >
                    Cancel
                </button>
                    
                <button
                    mat-flat-button
                    color="primary"
                    type="submit"
                    >
                    Save
                </button>
            </div>
        </form>
    </div>
</section>