:host {
    --primary-teal: #f59e0b;
    --light-teal: #e6f4f1;
    --bg-gray: #f8fafc;
    --text-dark: #1e293b;
    --text-muted: #64748b;
    --border-color: #e2e8f0;
}

.title{
    color: var(--primary-teal) !important;;
}

.add-button {
  color: var(--mat-sys-primary);
}